
<h1 class="dashboard">dashboard</h1>
<% if (error.length > 0) { %>
      <h3 class="error center red"> <%=  error  %> </h3>
<% } %>
<p class="welcoming">welcome <%= name%>
<a href="/logout" class="ancor logout_button">logout</a>