<div class="card">
    <h1 class="header">Login in MOhammad Academy</h1>
    <form action="/login" method="post">
    <div class="label">
      <label for="name" >Name
      </label>
    </div>
    <input id="email" type="email" name="" class="register_input" placeholder="Enter Email">
    <div class="label">
      <label for="password" >Password
      </label>
    </div>
    <input id="password" type="password" name="" class="register_input" placeholder="Enter Password">
    <input id="button" type="button" name="" class="register_input register_signup" value="Login">
    <p>You don't have Acount? <a class="ancor" href="/register"> Sign Up </a></p>

    </form>
  </div>