<div class="card">
    <h1 class="header">Sign Up in MOhammad Academy</h1>
    <form action="/register" method="post">
      <div class="label">
        <label for="name" >Name
        </label>
      </div>
      <input id="name" type="text" name="" class="register_input" placeholder="Enter Name">
      <div class="label">
        <label for="email" >Email
        </label>
      </div>
      <input id="email" type="email" name="" class="register_input" placeholder="Enter Email">
      <div class="label">
        <label for="password" >Password
        </label>
      </div>
      <input id="password" type="password" name="" class="register_input" placeholder="Enter Password">
      <div class="label">
        <label for="password" >Confirm Password
        </label>
      </div>
      <input id="password" type="password" name="" class="register_input" placeholder="Enter Confirm Password">

      <input id="button" type="button" name="" class="register_input register_signup" value="Sign Up">
      <p>Have An Acount? <a class="ancor" href="/login">Login </a></p>
    </form>
  </div>