  <div class="card">
    <h1 class="header">Welcome To MOhammad Academy</h1>
    <a href="/login" class="welcome_button  welcome_button-first">login</a>
    <a href="/register" class="welcome_button">register</a>
  </div>
